.navbar{
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem;
}
.navbar ul{
	display: flex;
}
.navbar ul li{
	list-style: none;
}
.navbar ul li a{
	color: white;
	text-decoration: none;
	padding: 1rem;
	font-family: 'Noto sans jp',sans-serif;
}
.navbar ul li a:hover{
	background-color: #fbff14;
}
.logo{
	font-family: 'Lobster', cursive;
}
.color-text{
	color: #fbff14;
}
.header{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

}
.header h1{
	color: white;
	text-align: center;
	font-size: 5rem;
	font-family: 'Noto sans jp', sans-serif;
	z-index: 1;
}
.video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100vh;
}
